# Configuration file

general {
    # Determines whether or not the default tips should be possible. This includes tips added directly by other mods through their language files. [default: true]
    B:allowDefaultTips=false

    # A list of custom tips added by the user or modpack. [default: ]
    S:customTips <
    avecraft.tips.1
    avecraft.tips.2
    avecraft.tips.3
    avecraft.tips.4
    avecraft.tips.5
    avecraft.tips.6
    avecraft.tips.7
    avecraft.tips.8
    avecraft.tips.9
    avecraft.tips.10
    avecraft.tips.11
    avecraft.tips.12
    avecraft.tips.13
    avecraft.tips.14
    avecraft.tips.15
    avecraft.tips.16
    avecraft.tips.17
    avecraft.tips.18
    avecraft.tips.19
    avecraft.tips.20
    avecraft.tips.21
    avecraft.tips.22
    avecraft.tips.23
    avecraft.tips.24
    avecraft.tips.25
    avecraft.tips.26
    avecraft.tips.27
    avecraft.tips.28
    avecraft.tips.29
    avecraft.tips.30
    avecraft.tips.31
    avecraft.tips.32
    avecraft.tips.33
    avecraft.tips.34
    avecraft.tips.35
    avecraft.tips.36
    avecraft.tips.37
     >

    # The color of the actual tip text. [default: FFFFFF]
    S:textColor=FFFFFF

    # The color of the top/title text for the tip. [default: FFFF55]
    S:titleColor=FF80AB

    # The amount of offset the tip text should have from the left of the screen. [range: 0 ~ 2147483647, default: 5]
    I:xOffset=5

    # The amount of offset the tip text should have from the bottom of the screen. [range: 0 ~ 2147483647, default: 40]
    I:yOffset=40
}


